<!-- main container -->
<div class="content">
    <div class="container-fluid">
        <div id="pad-wrapper" class="users-list">
            <div class="row-fluid header">
                <h3>标签列表</h3>
                <div style="margin-left: 67.7%">
                    <button class="btn btn-success">添加</button>
                </div>
            </div>
            <!-- Users table -->
            <div class="row-fluid table">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="span1 sortable">
                            序号
                        </th>
                        <th class="span2 sortable">
                            名称
                        </th>
                        <th class="span1 sortable">
                            课程数
                        </th>
                        <th class="span3 sortable">
                            创建时间
                        </th>
                        <th class="span3 sortable">
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (var i = 0;i < list.length;i++) { var label = list[i] %>
                    <tr>
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td>
                            <%= label.name %>
                        </td>
                        <td>
                            <%= label.num %>
                        </td>
                        <td>
                            <%= label.createTime %>
                        </td>
                        <td>
                            <button class="btn btn-info">修改</button>
                            <button class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <% if(totalPage > 1){ %>
            <div id="page" pages="<%= totalPage %>" style="padding-top: 20px;"></div>
        <% } %>
    </div>
</div>
<!-- end main container -->