<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- this page specific styles -->
    <link rel="stylesheet" href="/css/compiled/new-user.css" type="text/css" media="screen"/>
</head>
<body>
<!-- main container -->
<div class="content">
    <div class="container-fluid">
        <div id="pad-wrapper" class="new-user">
            <div class="row-fluid header">
                <h3> 专栏详情 </h3>
            </div>

            <div class="row-fluid form-wrapper">
                <!-- left column -->
                <div class="span9 with-sidebar">
                    <div class="container">
                        <form class="new_user_form inline-input"/>
                        <div class="span12 field-box">
                            <label>ID:</label>
                            <input class="span9" type="text" id="special-id" value="<%= special.id %>" disabled/>
                        </div>
                        <div class="span12 field-box">
                            <label>名称:</label>
                            <input class="span9" type="text" id="special-name" value="<%= special.name %>"/>
                        </div>
                        <div class="span12 field-box textarea">
                            <label>描述:</label>
                            <textarea class="span9" id="description"><%= special.description %></textarea>
                            <span class="charactersleft">100字以内</span>
                        </div>
                        <div class="span12 field-box">
                            <label>图片:</label>
                            <img style="border:1px solid #f2dede;" src="<%= special.image %>" height="200px"
                                 width="300px"/>
                        </div>
                        <div class="span12 field-box">
                            <label>图片url:</label>
                            <input class="span9" type="text" id="special-image-url" value="<%= special.image %>"
                                   placeholder="图片地址"/>
                        </div>
                        <div class="span12 field-box">
                            <label>课程数量:</label>
                            <input class="span9" type="text" value="<%= special.contentNum %>" disabled/>
                        </div>
                        <div class="span12 field-box">
                            <label>访问数量:</label>
                            <input class="span9" type="text" id="special-read-num" value="<%= special.readNum %>"/>
                        </div>
                        <div class="span12 field-box">
                            <label>排序:</label>
                            <input class="span9" type="text" id="special-sort" value="<%= special.sort %>"
                                   placeholder="专栏排序"/>
                        </div>
                        <div class="span12 field-box">
                            <label>创建时间:</label>
                            <input class="span9" type="text" value="<%= special.createTime %>" disabled/>
                        </div>

                        <div class="span11 field-box actions">
                            <button class="btn btn-success" id="special-update-click">更新</button>
                            <span>OR</span>
                            <button class="btn btn-danger" onclick="deleteClick('<%= special.id %>')">删除</button>
                        </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end main container -->
</body>
</html>