<!-- main container -->
<div class="content">
    <div class="container-fluid">
        <div id="pad-wrapper" class="users-list">
            <div class="row-fluid header">
                <h3>文章类型</h3>
                <div style="margin-left: 73%">
                    <button class="btn btn-success" onclick="createType('<%= JSON.stringify(cateList) %>')">添加</button>
                </div>
            </div>
            <!-- Users table -->
            <div class="row-fluid table">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="span1 sortable">
                            序号
                        </th>
                        <th class="span2 sortable">
                            名称
                        </th>
                        <th class="span1 sortable">
                            课程数
                        </th>
                        <th class="span2 sortable">
                            所属分类
                        </th>
                        <th class="span3 sortable">
                            创建时间
                        </th>
                        <th class="span3 sortable">
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (var i = 0;i < list.length;i++) { var type = list[i] %>
                    <tr>
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td>
                            <%= type.name %>
                        </td>
                        <td>
                            <%= type.contentNum %>
                        </td>
                        <td>
                            <%= type.category %>
                        </td>
                        <td>
                            <%= type.createTime %>
                        </td>
                        <td>
                            <button class="btn btn-info" onclick="modifyClick('<%= JSON.stringify(type) %>','<%= JSON.stringify(cateList) %>')">修改</button>
                            <button class="btn btn-danger" onclick="deleteClick('<%= type.id %>')">删除</button>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="pageNum"
            <% if (typeof pageNum !== 'undefined') { %>
                   value="<%= pageNum %>"
                    <% } %>
            />
            <input type="hidden" name="totalPage"
            <% if (typeof totalPage !== 'undefined') { %>
                   value="<%= totalPage %>"
                    <% } %>
            />
            <% if(totalPage > 1){ %>
                <div class="information_page"></div>
            <% } %>
        </div>
    </div>
</div>
<!-- end main container -->